<div class="products-list">
    <h2 *ngIf="loading">Loading your cart ...</h2>

    <div class="product-item" *ngFor="let product of products; let i = index">
        <div class="row">
            <div class="col-4"><img [src]="product.image" alt=""></div>
            <div class="col-8">
                <h4>{{product.title}}</h4>
                <p class="price">{{product.price}}</p>
            </div>
        </div>
    </div>
    <div class="cta text-right" *ngIf="!loading">

        <a class="btn btn-primary" routerLink="../user-details">Checkout</a>
    </div>

</div>