<div class="products-list">
    <h2 *ngIf="loading">Loading your cart ...</h2>

    <div class="product-item" *ngFor="let product of products; let i = index">
        <div class="row">
            <div class="col-3"><img [src]="product.image" alt=""></div>
            <div class="col-9">
                <h4>{{product.title}}</h4>
                <p class="price">{{product.price | currency : "$"}}</p>
            </div>
        </div>
    </div>

</div>
<div class="cta d-flex justify-content-between mb-5" *ngIf="!loading">
    <b class="price">Total : {{total | currency : "$"}}</b>
    <button class="btn" (click)="onCheckout()">Checkout |  ({{total | currency : "$"}})</button>
</div>